.card {
  width: 100%;
  height: 40px;
  background-color: #646060;
  color: white;
  border-radius: 15px;
}

.buttonPrincipal {
  background-color: #2d5f12;
  color: white;
  padding: 10px 20px;
  border: none;
}